body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  padding: 24px;
}

.container {
  display: flex;
  flex-direction: row;
  background: #e0e7ff;
  width: 800px;
  aspect-ratio: 1/1; /* Keeps width and height equal */
  border-radius: 24px;
  overflow: hidden;
}

.item {
  background-color: #3929ff;
  padding: 24px;
  width: fit-content;
  height: fit-content;
}
